*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header{
    background-color: #f2f2f2;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

.row{
    display: flex;
}

.col-md-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-8{
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}

.col-md-12{
    flex: 0 0 100%;
    max-width: 100%;
}


.header__search{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.header__input{
    width: 30%;
}

.header__input input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    padding-left: 10px;
}

.header__input input:focus{
    outline: none;
}

.header__input input:hover{
    cursor: auto;
}

.header__search button{
    width: 8%;
    background-color: #48484a;
    color: #f2f2f2;
    border: none;
    border-radius: 0 10px 10px 0;
    background-image: url(img/search.png);
    background-position: center;
    background-repeat: no-repeat;

}

.header__search button:hover{
    cursor: pointer;
}


/* main */

.main{
    padding: 140px 0 165px;
    display: flex;
    height: calc(100vh - 168px);
    align-items: center;
}

.main__time{
    color: #eb6e4b;
}

.main__city{
    font-size: 50px;
    font-weight: bold;
    color: #48484a;
    padding-top: 10px;
}

.main__temp{
    display: flex;
    padding-top: 30px;
}

.main__temp h1{
    font-size: 36px;
    font-weight: 400;
    color: #48484a;
}

.main__feels-like{
    color: #48484a;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}

.main__other-info{
    border-left: 2px solid #eb6e4b;
    padding: 0 16pt;
    margin-top: 4pt;
}

.main__other-info h3{
    color: #48484a;
    font-size: 20px;

}

.wind-speed{
    background: url(img/wind.jpg) no-repeat left;
    padding-left: 20px;
}

.main__map{
    height: 100%;
}

#map{
    width: 100%;
    height: 100%;
}


/* footer */

.footer{
    padding: 25px 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: #48484a;
    font-family: 'Roboto', sans-serif;
}



/* adaptive */
@media(max-width: 1000px){
    .container{
        max-width: 	720px;
    }
    .header__input{
        width: 40%;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 	320px;
    }

    .header__input{
        width: 70%;
    }

    .header__search button{
        width: 12%;
    }

    .main{
        height: 100%;
        padding-top: 80px;
    }

    .main__row{
        flex-wrap: wrap;
    }

    .col-xs-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main__map{
        padding-top: 50px;
    }

    .main__map iframe{
        height: 250px;
    }
}